<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle ='Dettaglio Pizza')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current = 'pizze')}"></nav>
<div class="container  d-flex justify-content-center flex-column align-items-center" th:object="${pizza}">
    <div class="card w-50">
        <img alt="pizza"
             class="card-img-top img-fluid" th:src="*{photo}">
        <div class="card-body">
            <h5 class="card-title" th:text="*{name}"></h5>
            <p class="card-text" th:text="*{description}"></p>
            <p class="fw-900" th:text="*{price}+€"></p>
            <a class="btn btn-primary" th:href="@{/pizze}">Torna alla lista</a>
        </div>
    </div>


    <!--OFFERTE-->
    <h2 class="my-3 text-danger fw-bold">Offerte disponibili per la pizza <span th:text="*{name}"></span></h2>

    <div th:if="${pizza.specialOffers.size() > 0}">
        <div class="d-flex justify-content-center align items center ">
            <div class="mx-4" th:each="specialOffer : *{specialOffers}">
                <p>
                    <button aria-expanded="false" class="btn btn-primary" data-bs-toggle="collapse"
                            th:aria-controls="'collapse' + ${specialOffer.id}"
                            th:data-bs-target="'#collapse' + ${specialOffer.id}"
                            th:text="${specialOffer.title}" type="button"></button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal"
                         th:attr="aria-labelledby='heading' + ${specialOffer.id}"
                         th:id="'collapse' + ${specialOffer.id}">

                        <div class="card card-body" style="width: 300px;">
                            <p>Data di inizio: <span
                                    th:text="${#temporals.format(specialOffer.startDate, 'dd/MM/yyyy')}"></span></p>
                            <p>Data di fine: <span
                                    th:text="${#temporals.format(specialOffer.endDate, 'dd/MM/yyyy')}"></span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info my-3" th:unless="${pizza.specialOffers.size() > 0}">
        Nessuna offerta :(
    </div>
    <a class="btn btn-info" th:href="@{/offers/create(pizzaId=${pizza.id})}" type="button">Aggiungi offerta</a>

    <div class="">
        <h2> ingredienti:</h2>
        <ul th:if="*{ingredients.size() > 0}">
            <li th:each="ingredient : *{ingredients}" th:text="${ingredient.name}"></li>
        </ul>
        <div class="alert alert-info"
             th:unless="*{ingredients.size() > 0}">
            Non sono stati aggiunti ingredienti
        </div>
    </div>

</div>
</body>
</html>