<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle ='Form Pizza')}">
</head>
<!-- var booleana in base alla presenza o meno della pizza nel db -->
<body th:with="isEdit=${pizza.id != null}">
<nav th:replace="~{/fragments/navbar :: navbar(current = 'pizze')}"></nav>
<h1 th:text="${isEdit ? 'Modifica Pizza' : 'Aggiungi Pizza'}"></h1>

<div class="container">
    <form
            class="row"
            id="pizza-form"
            method="post"
            th:action="@{${formAction}}"
            th:object="${pizza}"
            th:with="formAction=${isEdit ? '/pizze/edit/' + pizza.id : '/pizze/create'}"
    >
        <div class="col-8">
            <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
                <ul>
                    <li class="text-dark" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="mb-3">
                <label class="form-label" for="nome">Nome della pizza</label>
                <input class="form-control" id="nome"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                       th:field="*{name}"
                       type="text">
                <div class="invalid-feedback"
                     th:errors="*{name}"
                     th:if="${#fields.hasErrors('name')}">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="descrizione">Descrizione della pizza</label>
                <textarea class="form-control"
                          id="descrizione"
                          rows="3"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                          th:field="*{description}"></textarea>
                <div class="invalid-feedback"
                     th:errors="*{description}"
                     th:if="${#fields.hasErrors('description')}">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="img">URL foto della pizza</label>
                <input class="form-control" id="img"
                       th:classappend="${#fields.hasErrors('photo')} ? 'is-invalid' : ''"
                       th:field="*{photo}"
                       type="url">
                <div class="invalid-feedback"
                     th:errors="*{photo}"
                     th:if="${#fields.hasErrors('photo')}">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="prezzo">Prezzo della pizza</label>
                <input class="form-control" id="prezzo"
                       th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''"
                       th:field="*{price}"
                       type="number">
                <div class="invalid-feedback"
                     th:errors="*{price}"
                     th:if="${#fields.hasErrors('price')}">
                </div>
            </div>
        </div>
        <!--ingredienti -->
        <div class="col-4">
            <h3>ingredienti</h3>
        </div>


        <div class="col-12 justify-self-center align-self-center">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a class="btn btn-danger" th:href="@{/pizze}">Annulla</a>
        </div>

    </form>
</div>


</body>
</html>