<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle ='Lista Pizze')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current = 'pizze')}"></nav>
<div class="container">
    <!-- messaggio delete -->
    <div class="alert  alert-dismissible fade show" role="alert"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'"
         th:if="${message != null and message.type != null}">
        <div th:text="${message.message}"></div>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>


    <h1>Lista pizze</h1>
    <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-danger" sec:authorize="hasAuthority('ADMIN')" th:href="@{/pizze/create}" type="button">Aggiungi
            Pizza</a>

        <form method="GET" th:action="@{/pizze}">
            <div class="input-group input-group-sm">
                <input aria-label="Cerca" class="form-control" name="keyword" placeholder="Cerca..."
                       th:value="${searchInput}"
                       type="search">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

    </div>


    <div th:if="${not #lists.isEmpty(pizzeList)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzeList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price}"></td>
                <td class="d-flex justify-content-evenly align-items-center">
                    <a class="mx-1" th:href="@{|/pizze/${pizza.id}|}"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="mx-1" sec:authorize="hasAuthority('ADMIN')" th:href="@{|/pizze/edit/${pizza.id}|}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <form method="post" th:action="@{|/pizze/delete/${pizza.id}|}"
                          th:if="${#lists.isEmpty(pizza.specialOffers)}">
                        <button class="p-0 border-0 text-danger bg-transparent" sec:authorize="hasAuthority('ADMIN')"
                                type="submit"><i
                                class="fa-solid fa-trash"></i></button>
                    </form>
                    <button class="p-0 border-0 text-danger bg-transparent" disabled
                            sec:authorize="hasAuthority('ADMIN')"
                            th:unless="${#lists.isEmpty(pizza.specialOffers)}"
                            type="submit"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(pizzeList)}">
        <p th:text="${noPizzeMessage}"></p>
    </div>
</div>
</body>
</html>
