<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle ='Lista Pizze')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current = 'pizze')}"></nav>
<div class="container">
    <!-- messaggio delete -->
    <div th:if="${message != null and message.type != null}" class="alert  alert-dismissible fade show" role="alert"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
        <div th:text="${message.message}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <h1>Lista pizze</h1>
    <div class="d-flex justify-content-between align-items-center">
        <a type="button" class="btn btn-danger" th:href="@{/pizze/create}">Aggiungi Pizza</a>

        <form th:action="@{/pizze}" method="GET">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Cerca..." aria-label="Cerca" name="keyword"
                       th:value="${searchInput}">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

    </div>


    <div th:if="${not #lists.isEmpty(pizzeList)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzeList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price}"></td>
                <td class="d-flex justify-content-evenly align-items-center">
                    <a th:href="@{|/pizze/${pizza.id}|}" class="mx-1"><i class="fa-solid fa-circle-info"></i></a>
                    <a th:href="@{|/pizze/edit/${pizza.id}|}" class="mx-1"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form th:action="@{|/pizze/delete/${pizza.id}|}" method="post"
                          th:if="${#lists.isEmpty(pizza.specialOffers)}">
                        <button class="p-0 border-0 text-danger bg-transparent" type="submit"><i
                                class="fa-solid fa-trash"></i></button>
                    </form>
                    <button th:unless="${#lists.isEmpty(pizza.specialOffers)}" disabled
                            class="p-0 border-0 text-danger bg-transparent"
                            type="submit"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(pizzeList)}">
        <p th:text="${noPizzeMessage}"></p>
    </div>
</div>
</body>
</html>
