<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle ='Lista Pizze')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current = 'pizze')}"></nav>
<div class="container">
    <h1>Lista pizze</h1>

    <div th:if="${not #lists.isEmpty(pizzeList)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzeList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price}"></td>
                <td>
                    <a th:href="@{|/pizze/${pizza.id}|}">Info</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(pizzeList)}">
        <p th:text="${noPizzeMessage}"></p>
    </div>
</div>
</body>
</html>
