<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar(current)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pizzeria da Thomas</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${current == 'pizze' ? 'active' : ''}"
                       th:href="@{/pizze}">Pizze</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classappend="${current == 'ingredients' ? 'active' : ''}"
                       th:href="@{/ingredients}">Ingredienti</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>